/* Angepasstes CSS aus spacealloc (hier Fokus auf PHP */
/* ================================================== */

.bookfont {
    font-family: Verdana, Geneva, Arial, sans-serif;
}

.bookcolor {
    color: lightblue;
    /*color: #358eab;*/
    /* text-shadow: 2px 2px lightblue; */
}

.monospacetext {
    font-family: monospace;
}

h1 {
    text-align: center;
    color: #444;
    background-color: #eee;
    border-radius: 19px;
    margin: 5px;
    padding: 5px;
}

h3 {
    color: #666;
}

/* --- footer --- */

body {
    font-family: Verdana, Geneva, Arial, sans-serif;
    overflow-x: hidden; /* Vermeide banner text scrollbar */
    margin: 0;
    background-color: white;
    color: #333;
}

html {
    position: relative;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#body-column {
    background-color: #f8f8f8;
    padding: 0px 0px 40px 0px;
}

main {
    padding: 5px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 30px;
    background-image: linear-gradient(to bottom, #f8f8f8, black 16px, black);
    text-align: center;
}

footer p {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    margin: 0;
    height: 15px;
    font-size: 10px;

    color: white;
}

/* -------- Header ------------ */

#banner-bg {
    position: relative;
    background-image: linear-gradient(to bottom, black, black 11px, #358eab 13px, white 15px, #358eab 16px, black 18px, black 184px, #f8f8f8);
    height: 200px;
    margin-bottom: 10px;
}

#banner {
    position: absolute;
    z-index: 20;

    left: 30px;
    top: 22px;
    height: 140px;
}

#bookhead {
    height: 100%;
    width: auto;
    transition: 0.2s;
}

#bookhead:hover {
    transform: scale(1.05);
}

#theme {
    position: absolute;
    top: 22px;
    left: 200px;
    line-height: 140px;
    vertical-align: middle;
    font-size: 3em;
    white-space: nowrap;
    overflow: hidden;
}


/* --------------- Navigation ------------ */

nav {
    position: absolute;
    right: 0;
    top: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    z-index: 40;
    background-color: black;
    transition: transform 0.3s;
}

nav ul li {
    display: inline-block;
    width: 8em;
    line-height: 30px;
    text-align: center;

    border-left: 2px solid lightblue;
    border-bottom: 2px solid lightblue;
}
nav ul li a {
    display: block;
    color: lightblue;
    text-decoration: none;
    transition: all 0.2s;
}

nav ul li a:hover {
    background-color: gray;
    color: white;
}

/* rightmost border */

nav ul li:last-child {
    border-right: 2px solid lightblue;
}

/* rounded leftmost button */

nav ul li:first-child {
    border-bottom-left-radius: 30px;
}

nav ul li:first-child a {
    border-bottom-left-radius: 30px
}

/* ------ Nav Mobile ----- */

nav label {
    display: none;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 60;

    width: 100%;
    line-height: 30px;
    color: lightblue;
    background-color: black;
    cursor: pointer;
    font-size: 1.1em;
    text-align: center;
    border-left: 2px solid lightblue;
    border-bottom: 2px solid lightblue;
    border-bottom-left-radius: 30px;
}

nav input[type="checkbox"] {
    display: none;
}

/* ----------- Articles ----------- */

section figure {
    margin: 0;
    border: 5px solid #ddd;
}

section figure figcaption {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    margin-top: 1px;
    background-color: #ddd;
}

/* Article enumerations */

article ul {
    list-style-type: square;
    background-color: #ddd;
    box-shadow: 10px 10px 5px #ccc;
    padding: 7px 0px 7px 40px;
}

article ul li {
    padding: 7px;
}

/* Article Links */

main a {
    text-decoration: none;
}

main a:link {
    color: FireBrick;
}

main a:visited {
    color: FireBrick;
}

main a:hover {
    color: OrangeRed;
}

main a:active {
    color: DeepPink;
}

/* ----------- Columns ------------ */

.row {
    display: flex;
    flex-direction: column;
}

.col {
    box-sizing: border-box;
    background-color: #eee;
    margin: 10px 5px 10px 5px;
}

.col-50 {
    width: calc(50% - 10px);
}

.col-100 {
    width: calc(100% - 10px);
}

.colpic {
    display: block;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }

    .col-50 {
        margin: 5px;
        width: calc(100% - 10px);
    }

    .col-100 {
        margin: 5px;
        width: calc(100% - 10px);
    }

    nav {
        width: 8em;
        right: 0;
    }
    nav label {
        display: block;
    }

    nav ul {
        position: absolute; /* ref: nav */
        right: 0;
        transform: translate(0, -105%);
    }

    nav ul li {
        width: 8em;
    }

    nav  input:checked ~ ul {
        transform: translate(0, 30px);
    }

    /* border adaptions */

    nav ul li {
        border-bottom: 0;
        border-top: 2px dotted lightblue;
    }
    nav ul li:last-child {
        border-bottom: 2px solid lightblue;
        border-right: 0;
    }

    /* border radius adaptions */

    nav ul li:first-child {
        border-bottom-left-radius: 0;
    }
    nav ul li:first-child a {
        border-bottom-left-radius: 0;
    }
    nav ul li:last-child {
        border-bottom-left-radius: 30px;
    }
    nav ul li:last-child a {
        border-bottom-left-radius: 30px;
    }

    nav  input:checked ~ label {
        border-bottom-left-radius: 0;
    }
}

/* ----------- Blog posts --------- */

article {
    padding: 0 15px 15px 15px;
}
.messagebox {
    padding: 0;
}
article .message {
    padding: 15px;
    background-color: #dee9ef;
}
article .messagemain {
    padding: 15px;
    background-color: #f2e08a;
}
article .messagehead {
    padding: 1px 3px 1px 3px;
    background-color: #acbac1;
}
article .messageheadmain {
    padding: 1px 3px 1px 3px;
    background-color: #ead25d;
}


.pagination {
    text-align: center;
    background-color: #ddd;
    font-size: 1.0em;
    padding: 8px;
    color: #555;
    border-bottom-left-radius: 20px 50%;
    border-top-left-radius: 20px 50%;
    border-bottom-right-radius: 20px 50%;
    border-top-right-radius: 20px 50%;
}

.pagearrow {
  font-weight: bold;
  font-size: 1.3em;
}

/* -------------- Error Output ------------- */

.errorout {
  margin: 0 10px 0 10px;
}

.errorout li {
  color: red;
}

.errorout p {
  margin: 5px;
  font-weight: bold;
}

/* -------------- text area ------------- */

#message_form {
  width: 100%;
}

#message_f {
  width: inherit;
  min-height: 50px;
}

/* -------------- user base table --------- */

.userbase table, .userbase th, .userbase td {

  text-align: left;
  border: 1px solid #aaa;
  border-collapse: collapse;
}
.userbase th, .userbase td {
  padding: 5px 10px;
}
